// Custom styles.

.menu .menu-item {
  a {
    font-size: 16px;
  }
}

.site-meta {
  background-color: $my-color-blue;
}

.site-state-item-name {
  font-size: 16px;
}

.links-of-author-item {
  a {
    font-size: 16px;
  }
}

.site-description {
  font-size: 14px;
}

.site-author-name {
  color: $my-color-blue;
}

.sidebar-nav .sidebar-nav-active {
  color: $my-color-orange;
  border-bottom-color: $my-color-orange;

  &:hover { color: $my-color-orange; }
}

.post-toc .nav .active > a { color: $my-color-orange; }

.headband {
  background: $my-color-blue;
}

.feed-link {
  a {
    color: $link-color;

    i {
      color: $link-color;
    }
  }
}

.site-author-image {
  float: none;
  margin: 0 auto;
  max-width: 98%;
}

.site-author-name,
.site-description {
  text-align: center;
}

.site-state {
  text-align: center;
}

.post-more-link {
  .btn {
    &:hover {
      border-color: $my-color-blue;
      color: #fff;
      background: $my-color-blue;
    }
  }
}

.site-subtitle {
  font-size: 16px;
}

.back-to-top {
  background-color: $my-color-blue;
}
